doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        style. 
            .mydiv{
                color:red
            }
    body 
        div hello world
        div(class="mydiv") content
        #mydiv this is the div with id my div 